@charset "utf-8";
/* html5doctor.com Reset Stylesheet v1.2*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video, source {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  vertical-align: middle;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  text-decoration: none; }

mark {
  background-color: #ff9;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.my-twitter-btn {
  position: relative;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: #1b95e0;
  box-sizing: border-box;
  height: 28px;
  padding: 1px 10px 1px 9px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  text-decoration: none;
  outline: 0;
  font: normal normal normal 11px/18px 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  line-height: 26px; }
  .my-twitter-btn i {
    position: relative;
    display: inline-block;
    background: transparent 0 0 no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E");
    width: 18px;
    height: 18px; }
  .my-twitter-btn span {
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    white-space: nowrap;
    margin-left: 4px; }
  .my-twitter-btn:hover {
    background-color: #0c7abf; }

html,
body {
  height: 100%;
  font-family: 'Fugaz One', cursive; }

.color-area {
  width: 100%;
  height: 50%; }
  .color-area.question {
    background: #999;
    position: relative; }
    .color-area.question p {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      padding: 0;
      width: 100%; }
  .color-area.answer {
    background: #333;
    padding: 20px 0; }
  .color-area p {
    display: none;
    color: #fff;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    vertical-align: baseline; }
    .color-area p span {
      vertical-align: baseline; }
  .color-area[show="on"] p {
    display: block;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-name: show;
            animation-name: show;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }

.timer-area {
  position: absolute;
  line-height: 20px;
  font-size: 20px;
  top: 50%;
  width: 100%;
  margin-top: -10px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #fff; }

.result-area {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 240px;
  margin-left: -150px;
  margin-top: -120px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 20px; }
  .result-area .title {
    font-size: 200%;
    margin-bottom: 20px; }
  .result-area .info {
    font-size: 120%;
    margin-bottom: 10px; }
  .result-area .time {
    font-size: 200%;
    margin-bottom: 20px; }
  .result-area .tweet {
    margin: 20px auto; }
  .result-area .restart {
    border: 1px solid #ccc;
    padding: 4px;
    width: 70px;
    margin: 0 auto;
    border-radius: 4px; }
  .result-area[show="on"] {
    display: block;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-name: show;
            animation-name: show;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

@keyframes show {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }
